{% extends 'index.html' %}


{% block navbar %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('index')}}" style="color: white;">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('company_register')}}" style="color: white; padding-left: 40px;">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('company_login')}}" style="color: white; padding-left: 40px;">Login</a>
        </li>
    </ul>
{% endblock %}


{% block content %}
    <div class="banner_section layout_padding" style="display: flex; align-items: center; justify-content: center; height: 100vh; background-color: rgba(0, 0, 0, 0.655);">
        <div class="container">
            <div id="banner_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="banner_taital_main text-center" style="margin-top: -110px;">
                            
                            <h1 class="banner_taital" style="color: white;">Company Panel!</h1>
                            <h5 class="tasty_text">Improve customer experience Software Insurance</h5>
                            <p class="banner_text" style="color: white;">
                                "Revolutionizing Insurance with Smarter Solutions: Empowering Customer Experiences!"
                            </p>

                            <div class="btn_main" style="display: flex; justify-content: center; gap: 20px;">
                                <div class="about_bt"><a href="{{url_for('company_register')}}">Register</a></div>
                                <div class="callnow_bt active"><a href="{{url_for('company_login')}}">Login</a></div>
                             </div>
                            
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}